<!-- ベーステンプレートを適用する-->
{% extends 'base.html' %}

<!-- ヘッダー情報のページタイトルは
    ベーステンプレートを利用するページで設定する -->
{% block title %}Shareing Playlist{% endblock %}

<!-- メインコンテンツを設定する<div>～</div>をテンプレートタグで囲む-->
{% block contents %}
<!-- メインコンテンツ -->
  <div class="album py-5 bg-light">
    <!-- Bootstrapのグリッドシステム -->
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- レコードが格納されたuser_pictsから1件ずつ取り出す -->
        {% for picture in user_picts %}

        <!-- 列要素を配置 -->
        <div class="col">          
          <div class="card shadow-sm">
              <div class="card-body text-center"> <!-- 中央に配置するためにtext-centerを追加 -->
                <p class="card-text">{{picture.title}}</p>
                  {% if picture.url %}
                      {% set playlist_id = picture.url.split('/')[-1] %}
                      <iframe src="https://open.spotify.com/embed/playlist/{{ playlist_id }}" class="embed-responsive-item"></iframe>
                  {% endif %}
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="{{url_for('pictapp.show_detail', id=picture.id)}}">
                          <button type="button" class="btn btn-sm btn-outline-secondary">詳細</button></a>
                          <a href="{{url_for('pictapp.user_list', user_id=picture.user_id)}}">
                          <button type="button" class="btn btn-sm btn-outline-secondary">{{picture.username}}</button></a>
                      </div>
                      <a href="{{url_for('pictapp.user_list', user_id=picture.user_id)}}">
                      <small class="text-muted">{{picture.username}}</small></a>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
        <!-- 行要素以下のタグまで -->
      </div>

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        {{ pagination.info }}
      </div>
      <div class="d-flex justify-content-end mb-4">
        {{ pagination.links }}
      </div>
    <!-- グリッドシステム以下のタグまで -->
    </div>
  </div>
<!-- メインコンテンツを設定する<div>～</div>をテンプレートタグで囲む-->
{% endblock %}

